<div class="card-section league-card-section">
	<div>
    <h6 class="small-form-title">
      <%= link_to "Game ##{game.number_in_order}", league_season_game_path(@league, game.season, game) %> - <%= game.date %>
    </h6>
    <small class="muted-text">Season #<%= game.season.number_in_order %></small>
	</div>
</div>
