<div class="card">
  <div class="card-divider">
    <div class="card-main-section">
      <h4 class="small-form-title">Season Standings</h4>
    </div>
  </div>
  <%= render partial: 'shared/standing', collection: @league.active_season_standings %>
</div>
