body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

/* navbar start */
.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}

.grid-container {
  flex-grow: 1;
}

.site-title {
  font-weight: 200;
  text-transform: uppercase;
	& > span {
		color: goldenrod;
	}
}

.nav-link, .card-header-actions {
  text-transform: uppercase;
  font-size: 0.8rem;
  & > a {
    color: goldenrod;
    &:hover {
      color: black;
    }
  }
}
/* navbar end */

/* Large Screens */
.main-container {
  width: 75%;
  margin-left: 12.5%;
}

.form-container, .card-container {
  display: flex;
  justify-content: center;
}

.small-form, .small-card {
  width: 500px;
  padding: 50px;
}

.small-nested-card {
  width: 33%;
}

.medium-card {
  width: 800px;
  padding: 50px;
}

.small-form-title {
  font-weight: 200;
  text-transform: uppercase;
}

.devise-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  & > a {
    margin: 0px 5px;
  }
}

.league-card-section {
  border-top: 1px solid #e6e6e6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-divider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-header-actions {
}

.card-main-section {
  display: flex;
  flex-direction: column;
}

.inline-button-to {
  display: inline;
}

.edit-icon, .close-icon {
  color: goldenrod;
  cursor: pointer;
  &:hover {
    color: black;
  }
}

.muted-text {
  color: gray;
  margin-top: -10px;
}

.activate-button {
  cursor: pointer;
}

/* Medium Screens */
@media all and (max-width: 800px) {
  .main-container {
    width: 90%;
    margin-left: 5%;
  }

  .small-form {
    width: 90%;
  }
}

/* Small Screens */
@media all and (max-width: 500px) {
  .small-form {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
}

